@font-face {
    font-family: sfpro;
    src: url(./fonts/SFPRODISPLAYREGULAR.OTF);
}


/* Background (Outsourced but edited to suit) */

body {
    color: white;
    background-color: black;
    display: flex;
    font-family: sfpro;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Header */ 

.header {
    height: 5em;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0%;
    margin: 0;
}

#logo {
    position: absolute;
    left: 10px;
    top: 7px;
    z-index: 996;
    max-width: 3.5em;
    transition: all .2s ease-in-out;
}

#logo:hover {
    transform: scale(1.03);
}

#code {
    position: absolute;
    font-family: sfpro;
    top: 0px;
    right: 0px;
    font-size: 2em;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: none;
    margin: 0.55em;
}

#code:hover {
    transform: scale(1.03);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

/* Main Calculator section */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
  }
  
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }