@font-face {
    font-family: sfpro;
    src: url(./fonts/SFPRODISPLAYREGULAR.OTF);
}


/* Background (Outsourced but edited to suit) */

body {
    color: white;
    background-color: black;
    display: flex;
    font-family: sfpro;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Header */ 

.header {
    height: 5em;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0%;
    margin: 0;
}

#logo {
    position: absolute;
    left: 10px;
    top: 7px;
    z-index: 996;
    max-width: 3.5em;
    transition: all .2s ease-in-out;
}

#logo:hover {
    transform: scale(1.03);
}

#code {
    position: absolute;
    font-family: sfpro;
    top: 0px;
    right: 0px;
    font-size: 2em;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: none;
    margin: 0.55em;
}

#code:hover {
    transform: scale(1.03);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

/* Main Calculator section */

.calc {
    background-color: rgb(255, 255, 255);
    width: 30em;
    height: 45em;
    margin-top: 10em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    outline-color: black;
    outline-width: 3px;
    outline-style: solid;
    box-shadow: 0px 0px 120px rgb(0, 0, 0);
    display: inline-block;
}

.screen {
    padding: 10px;
    background-color: rgb(190, 190, 190);
    margin: 2em;
    height: 5em;
    border-radius: 1em;
    display: flex;
    font-family: sfpro;
    justify-content: right;
}

.buttoncont {
    display: inline-block;
    background-color: orange;

}

#one {
    margin: 1em;
    background-color: blue;
    height: 6em;
    width: 6em;
    max-width: 6em;
    border-radius: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sfpro;
    
}
